<!DOCTYPE HTML>
{# ------------------------------------------------------------------------------------ #}
{#  VARIABLES                                                                           #}
{# ------------------------------------------------------------------------------------ #}
{%- set dc = ctx|to_context_obj -%}
{# ------------------------------------------------------------------------------------ #}
{#  ANSWERS MACROS                                                                      #}
{# ------------------------------------------------------------------------------------ #}
{%- macro renderAnswerValue(question, reply, path, humanIdentifier) -%}
  {% if reply %}
    <div>
      <p>
        ✔️
        {% if reply is of_type("StringReply") %}
          <span>{{reply.value}}</span>
        {% else %}
          <span>{{reply.value|markdown}}</span>
          {% if reply.is_integration %}
            {# Integration #}
            {% set integration = question.integration %}
            <span>
              ({{ integration.name }}: <a href="{{ integration.item(reply.item_id) }}">{{ reply.item_id }}</a>)
            </span>
          {% endif %}
        {% endif %}
      </p>
    </div>
  {% endif %}
{%- endmacro -%}

{%- macro renderAnswerOption(question, reply, path, humanIdentifier) -%}

  {%- if reply -%}
    {%- set answer = reply.answer -%}
  {%- else -%}
    {%- set answer = none  -%}
  {%- endif -%}

  {% for option in question.answers %}
    {% if reply and option.label == answer.label %}
      {% set hi = question.answers.index(reply.answer) %}
      {% set path = path ~ "." ~ answer.uuid %}
      {% set humanIdentifier = humanIdentifier ~ "." ~ hi|of_alphabet %}
     <div>
        <p>
          ✔️ <span>{{answer.label}}</span>
        </p>
      {% else %}
        {% set hi = 0 %}
        {% set path = path ~ "." ~ option.uuid %}
        {% set humanIdentifier = humanIdentifier ~ "." ~ hi|of_alphabet %}
       <div>
          <p>
            ❌ <span>{{option.label}}</span>
          </p>
        {% endif %}

        {% if option.followups|length > 0 %}
          <div>
            {% set hiPrefix = humanIdentifier ~ "." %}
            {% for question in option.followups %}
              {% set x = loop.index %}
              {{ renderQuestion(question, path, hiPrefix ~ x) }}
            {% endfor %}
          </div>
        {% endif %}


        </div>
      {% endfor %}
    {%- endmacro -%}


{%- macro renderAnswerList(question, reply, path, humanIdentifier) -%}

  {%- set nb_items = 0 %}
  {% if reply %}
    {%- set nb_items = reply.items|length -%}
  {% endif %}

  <div>

    {% set itemPathPrefix = path ~ "." %}
    {% set hiPrefix = humanIdentifier ~ "." %}

    {%- if nb_items > 1 -%}
      {% for i in reply.items %}

        {% set itemPath = itemPathPrefix ~ i %}
        {% set itemHumanIdentifier = (loop.index - 1)|of_alphabet %}
        <div class="answer-item" id="{{itemPath}}">
          <div class="followups">
            {% for question in question.followups %}
              {% set x = loop.index %}
              {{ renderQuestion(question, itemPath, itemHumanIdentifier ~ "." ~ x) }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
     {% else %}
       {% set itemPath = itemPathPrefix ~ 0 %}
       {% set itemHumanIdentifier = (0)|of_alphabet %}
       <div class="answer-item" id="{{itemPath}}">
         <div class="followups">
           {% for question in question.followups %}
             {% set x = loop.index %}
             {{ renderQuestion(question, itemPath, itemHumanIdentifier ~ "." ~ x) }}
           {% endfor %}
         </div>
      </div>
    {% endif %}
  </div>
{%- endmacro -%}

{%- macro renderChoiceList(question, reply, path, humanIdentifier) -%}
  <div>
    <ul>
    {% for choice in question.choices %}
      {%- if reply and choice in reply.choices %}
        <li>✔️ {{ choice.label }}</li>
      {%- else %}
        <li>❌ {{ choice.label }}</li>
      {%- endif %}
    {% endfor %}
    </ul>
  </div>
{%- endmacro -%}
{# ------------------------------------------------------------------------------------ #}
{#  QUESTION MACROS                                                                     #}
{# ------------------------------------------------------------------------------------ #}
{%- macro renderQuestionReply(question, path, humanIdentifier) -%}
  {# Question - Answers #}
  {% set reply = question.replies.get(path) %}
  {% if question is of_type("ValueQuestion") %}
    {{ renderAnswerValue(question, reply, path, humanIdentifier) }}
  {% elif question is of_type("OptionsQuestion") %}
    {{ renderAnswerOption(question, reply, path, humanIdentifier) }}
  {% elif question is of_type("ListQuestion") %}
    {{ renderAnswerList(question, reply, path, humanIdentifier) }}
  {% elif question is of_type("IntegrationQuestion")  %}
    {{ renderAnswerValue(question, reply, path, humanIdentifier) }}
  {% elif question is of_type("MultiChoiceQuestion") %}
    {{ renderChoiceList(question, reply, path, humanIdentifier) }}
  {% endif %}
{%- endmacro -%}


{%- macro renderQuestion(question, path, humanIdentifier) -%}
  {% set path = path ~ "." ~ question.uuid %}
  {% set reply = question.replies.get(path) %}

  <div>
    <h2>{{humanIdentifier}}. {{question.title}}</h2>
    {{ renderQuestionReply(question, path, humanIdentifier) }} 
  </div>

{%- endmacro -%}
{# ------------------------------------------------------------------------------------ #}
{#  CHAPTER MACROS                                                                      #}
{# ------------------------------------------------------------------------------------ #}
{%- macro renderChapter(chapter, humanIdentifier) -%}
      <section>
        <h1>{{humanIdentifier|roman}}. {{chapter.title}}</h1>
        <p>{{chapter.text|markdown}}</p>

        <section>
          {% for question in chapter.questions %}
            {{ renderQuestion(question, chapter.uuid, loop.index) }}
          {% else %}
            <p><i>No questions</i></p>
          {% endfor %}
        </section>
      </section>
{%- endmacro -%}
{# ------------------------------------------------------------------------------------ #}
{#  HTML LAYOUT                                                                         #}
{# ------------------------------------------------------------------------------------ #}
{%- macro renderFrontPage() -%}
  <table>
    <tr>
      <th>Organization</th>
      <td>{{dc.org.name}}</td>
    </tr>
    {% if dc.qtn.created_by %}
    <tr>
      <th>Created by</th>
      <td>{{dc.qtn.created_by.first_name}} {{dc.qtn.created_by.last_name}} (<a href="mailto:{{dc.qtn.created_by.email}}">{{dc.qtn.created_by.email}}</a>)</td>
    </tr>
    {% endif %}
    <tr>
      <th>Based on</th>
      <td>{{dc.pkg.name}}, {{dc.pkg.version}} (<code>{{dc.pkg.org_id}}:{{dc.pkg.km_id}}:{{dc.pkg.version}}</code>)</td>
    </tr>
    {% for version in dc.qtn.versions if version.uuid == dc.qtn.version %}
    <tr>
      <th>Version</th>
      <td>{{version.name}} ({{ version.created_at|datetime_format("%d %b %Y %H:%M:%S") }} UTC)</td>
    </tr>
    {% endfor %}
    {% if dc.current_phase %}
    <tr>
      <th>Project Phase</th>
      <td>{{dc.current_phase.title}}</td>
    </tr>
    {% endif %}
    {% if dc.qtn.project_tags|length > 0 %}
    <tr>
      <th>Project Tags</th>
      <td class="tags-row">{% for tag in dc.qtn.project_tags %}<span class="tag project-tag">{{ tag }}</span> {% endfor %}</td>
    </tr>
    {% endif %}
    {% if dc.qtn.description %}
    <tr>
      <th>Description</th>
      <td>{{ dc.qtn.description }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Created at</th>
      <td>{{ dc.doc.created_at|datetime_format("%d %b %Y") }}</td>
    </tr>
  </table>

  \newpage
{%- endmacro -%}
{%- macro renderContent() -%}
  <div>
    {% for chapter in dc.km.chapters %}
      \newpage
      {{ renderChapter(chapter, loop.index) }}
    {% else %}
      <p><i>No chapters</i></p>
    {% endfor %}
  </div>
{%- endmacro -%}
{# ------------------------------------------------------------------------------------ #}
{#  HTML TEMPLATE                                                                       #}
{# ------------------------------------------------------------------------------------ #}
<html>
  <head>
    <title>{{dc.qtn.name}}</title>
    <meta charset="utf-8">
    <style>{% include "src/default.css" %}</style>
  </head>
  <body>
      {{ renderFrontPage() }}
      {{ renderContent() }}
  </body>
</html>
